<%= render partial: 'form', locals: {f: @f } %>

<% if @user && @user.errors.any? %>
    <% @user.errors.full_messages.each do |m| %>
        <p style="color: red;"><%= m %></p>
    <% end %>
<% end %>