<h3><%= @current_user.name %></h3>
<p>Your Startups: </p>
<% @current_user.startups.each do |startup| %>
<div><%= link_to startup.company, startup_path(startup) %></div>
<% end %>


<% if current_user %>
<%= link_to "delete account", @user, method: :delete %>
<% end %>
<%#= button_to "Logout", controller: "sessions", action: "destroy" %>