body {
    background-image: url("img_3.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: transparent;
    color:black;
    font: 1em sans-serif;
    font-weight: 600;
    font-weight: bold;
}
a {
    color: black;
    font: 1em sans-serif;
    font-weight: bold;
}