<h1><%= @category.name %></h1>

<%=link_to "Enter Your Startup", new_category_startup_path(@category) %>

<p>Startups:</p>
<% @category.startups.each do |startup| %>
<div><%= link_to startup.company, startup_path(startup) %></div>
<% end %>